{% extends 'adminapp/index.html' %}
{% load static %}

{% block admin_content %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Продукты
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Описание</th>
                        <th>Цена</th>
                        <th>шт.</th>
                        <th>Активный</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Описание</th>
                        <th>Цена</th>
                        <th>шт.</th>
                        <th>Активный</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for item in products %}
                        <tr style="{% if not item.is_active %}opacity: 0.3{% endif %}">
                            <td>
                                <a href="{% url 'auth_admin:product_edit' item.id %}" style="color: dodgerblue">
                                    {{ item.name }}
                                </a>
                            </td>
                            <td {% if not item.category.is_active %}style="background-color: #ed969e"{% endif %}>
                                {{ item.category.name }}
                            </td>
                            <td>{{ item.description }}</td>
                            <td class="text-right">{{ item.price }}</td>
                            <td class="text-right">{{ item.quantity }}</td>
                            <td class="text-center">
                                <i class="fas fa-{% if item.is_active %}check{% else %}times{% endif %}-circle"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'auth_admin:product_create' %}">
                <button class="btn btn-success">Добавить продукт</button>
            </a>
        </div>
    </div>
{% endblock %}
