{% extends 'ordersapp/order_base.html' %}
{% load static %}

{% block order_table %}
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        {{ object }}: Детали
    </div>
    <div class="card-body">
        <p>Заказчик: {{ object.user }}</p>
                {% with object.summary as summary %}
                    <p>Общее количество:
                        <span class="orderitems-total-count">
                        {{ summary.count }}
                </span>
                    </p>
                    <p>Общая сумма:
                        <span class="order-total-cost">
                        {{ summary.cost }}
                </span>
                        р.
                    </p>
                {% endwith %}
        <p>Статус: {{ object.get_status_display|capfirst }}</p>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                </tr>
                </tfoot>
                <tbody>
                {% for item in orderitems %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.sum_price }}</td>
                        <td>{{ item.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        {% if object.is_forming %}
            <a class="btn btn-success" href="{% url 'orders:confirm' object.id %}">Оплатить</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'orders:index' %}">Вернуться к заказам</a>
    </div>

{% endblock %}