{% extends 'ordersapp/order_base.html' %}
{% load static %}

{% block order_table %}
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Редактирование заказа
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <p>Заказчик: {{ user }}</p>
            <p>Общее количество:
                {% if object %}
                    {{ object.items_count }}
                {% else %}
                    {{ user.user_basket_count }}
                {% endif %}
            </p>
            <p>Общая сумма:
                {% if object %}
                    {{ object.items_cost }}
                {% else %}
                    {{ user.user_basket_cost }}
                {% endif %}
                р.
            </p>
            {{ form.as_p }}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {{ orderitems.management_form }}
                    <thead>
                    <tr>
                        <th>Продукт</th>
                        {#<th>Цена</th>#}
                        <th>Кол-во</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Продукт</th>
                        {#<th>Цена</th>#}
                        <th>Кол-во</th>
                        <th>Удалить</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for item_form in orderitems %}
                        <tr>
                            {% for field in item_form.visible_fields %}
                                <td>
                                    {% if forloop.first %}
                                        {% for hidden in item_form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-success" value="Сохранить">
        </div>
    </form>
{% endblock %}
